.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
margin-top: 250px;
}
a{
    color:red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    text-decoration: none;
    font-size: 50px;
}
a:hover{
    color: darkblue;
}
p{
    font-size: 20px;
    color: rgb(12, 147, 209);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p:hover{
    color: rgb(11, 128, 0);
}
.box{

    margin-top: 350px;
width: 250px;
height: 100px;
background-color: rgb(209, 29, 29);
transition: all 2s;
animation: animateCircle5 10s linear infinite;
}
